<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/c55374b496.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
    {{>navbar}}

  <!-- Main header -->
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div -->
            <figure>
                <img src="https://source.unsplash.com/random" alt="prashant" class="img-fluid">
            </figure>
          <!-- right side div -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to weather app</p>
            <h1>I am an enthusiastic <span>MERN stack developer</span> </h1>
            <a href="https://www.linkedin.com/in/prashant-kumar-30498a192/"><button>About Me</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- footer --}}
  {{>footer}}
</body>

</html>